body {
  background: #f4f6fa;
  font-family: 'Poppins', sans-serif;
}

.form-container {
  width: 450px;
  background: white;
  padding: 25px;
  margin: 40px auto;
  border-radius: 18px;
  box-shadow: 0px 4px 18px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 22px;
  font-weight: 600;
}

label {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 500;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid #cfd3d8;
}

button {
  width: 100%;
  margin-top: 25px;
  padding: 12px;
  background: #0d6efd;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: .2s;
}

button:hover {
  background: #0b5ed7;
}

img {
  margin-top: 12px;
  border-radius: 8px;
}
