body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #f4f6fc;
}

.dashboard-container {
  display: flex;
  min-height: 100vh;
  background: #f5f7fb;
}

.sidebar {
position: fixed;
left: 0;
top: 0;
width: 240px;
height: 100vh;
background-color: #052a6e;
color: white;
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 20px 0;
box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
}

/* Header Logo */
.sidebar-header {
text-align: center;
margin-bottom: 20px;
}

.logo img {
width: 150px;
}

/* Menu */
.menu {
list-style: none;
padding: 0;
margin: 0;
flex-grow: 1;
}

.menu li {
margin: 10px 0;
}

.menu a {
display: flex;
align-items: center;
gap: 10px;
padding: 12px 25px;
color: #cbd5f0;
text-decoration: none;
font-weight: 500;
transition: background 0.3s, color 0.3s;
}

.menu a:hover,
.menu .active a {
background-color: #1a3f91;
color: #fff;
border-left: 4px solid #f5c518;
}

/* Icon style */
.menu i {
font-size: 16px;
}


.page {
  flex: 1;
  margin-left: 240px;
  padding: 30px;
}

/* Header Page */
.page-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.page-header h1 {
    font-size: 26px;
    font-weight: 600;
}

.btn-add {
    background: #0053b8;
    padding: 10px 18px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 15px;
}

.btn-add:hover {
    background: #003f8c;
}

/* Card */
.card {
    background: white;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

/* Table */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead {
    background: #032d6b;
    color: white;
}

.table thead th {
    padding: 14px;
    text-align: left;
}

.table tbody td {
    padding: 14px;
    border-bottom: 1px solid #e5e5e5;
}

/* Foto */
.foto {
    width: 55px;
    height: 55px;
    border-radius: 8px;
    object-fit: cover;
}

/* Badge warna */
.badge {
    padding: 7px 12px;
    border-radius: 6px;
    color: white;
    font-size: 13px;
}

.bg-green { background: #28a745; }
.bg-orange { background: #f39c12; }
.bg-red { background: #e74c3c; }

/* Tombol Aksi */
.action-buttons {
    display: flex;
    gap: 8px;
}

.btn-action {
    padding: 8px 10px;
    border-radius: 6px;
    color: white;
}

.btn-action.blue { background: #007bff; }
.btn-action.green { background: #28a745; }
.btn-action.red { background: #e74c3c; }

.btn-action:hover {
    opacity: 0.8;
}